html {
  overflow-x:hidden;
  overflow-y:scroll;
  min-width: 600px;
  min-height: 400px;
}

.text {
width:100%;
text-align:center
}

.buyin {
width:100px;
text-align:center
}

.numPlayers {
width:45px;
text-align:center
}

input.payouts,.poPercent,.poDollars {
width:50px;
text-align:center
}

.playerName {
width:100%;
text-align:right
}

input.current {
background-color:#90ee90
}

input.text {
    width:20vw;
    font-size: 2vw;
}

.winner {
background-color:#90ee90
}

.over {
background-color:#ffc0cb
}

.under {
background-color:#add8e6
}


th {
font-size:12px
}

table {
font-size:inherit;
font-size:100%;
border-collapse:separate;
border-width:4px;
border-color:#fff;
border-style:solid;
border-spacing:0
}

table.payouts {
align:left
}

table.rounds {
text-align:center;
border-width:50%;
}

.past {
border:solid 1px lightGray;
background-color:lightGray
}

.break {
border:solid 1px lightyellow;
background-color:lightyellow
}

td.current {
border:solid 1px red;
background-color:#90ee90
}

.payout {
text-align:center;
valign:bottom;
background-color:#fff
}

.player {
text-align:center;
text-vertical-align:bottom;
background-color:#fff
}

div.controls {
text-align:center
}

#events {
}

tr.rounds {
background-color:#B5CFE0
}

td.rounds {
border:solid 0 blue;
text-align:center
}

#sidebar {
text-align:center
}

td,th {
background-color:#fff
}

td.clockTD {
background-color:#fff;
width:75%
}

div.pageHeader {
font-size:40px;
color:#fff;
background-color:#000;
line-height:100%;
text-align:center
}

div.status {
text-align:left;
background-color:lightgray
}

div.label {
font-size:40px;
line-height:100%;
text-align:left
}

div#playerInfo {
text-align:left
}

div.timeLeft {
font-size:25vw;
line-height:100%;
text-align:center
}

div#roundInfo {
text-align:center;
font-size:12vw;
line-height:100%
}

div#stats {
text-align:center;
font-size:24px
}

div#next {
text-align:center;
font-size:6vw;
}

.paused {
color:gray
}

.ko {
text-decoration:line-through;
background-color:lightGray
}

#about {
padding-left:5em;
padding-right:10em
}

.warning {
    color:red;
}
#roundEntry{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2vw;
}
#clock{
    height:100%;
}
img.header{
    width:80vw;
}
#tabs{
    height:100%;
}
#quote {
    width:80vw;
}
#voiceRateSlider,#voicePitchSlider{
    width: 50vw;
    display: inline-block;
}
#voiceRate,#voicePitch{
    width: 8vw;
}
div.roundContainer{
    height: 70vh;
    overflow: scroll;
}